<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Aurora</title>
    <link rel="stylesheet" href="/public/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    {{!-- <link rel="stylesheet" href="/public/css/park.css"> --}}
</head>

<body>
    <header>
        <nav>
            <a id="nav-title" href="/">National Park Reviews</a>
            <div class="user-info">
            {{#if isLoggedIn}}
                <a href="/auth/user">{{user.userName}}</a>
                <a href="/auth/logout"> Log out</a>
            {{else}}
                <a href="/auth/login">Log in</a>
            {{/if}}
            </div>
        </nav>
    </header>

    <main class="main-content">
        {{{body}}}
    </main>
    <script src="/public/js/client_side_validation.js"></script>
    <footer>
        <p>National Park Reviews</p>
        <p>&copy; Aurora</p>
    </footer>
</body>

</html>