<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Aurora</title>
    <link rel="stylesheet" href="/public/css/styles.css">
    
</head>

<body>
<header>
    <nav>
        <a id="nav-title" href="/">National Park Reviews</a></li>
    </nav>
</header>

<main>
    {{{body}}}
</main>
<footer class="footer">
    <p>National Park Reviews</p>
    <p>&copy; Aurora</p>
</footer>



</body>

</html>