{{#if hasErrors}}
<p class=" not-found">
  {{errors}}
</p>
{{/if}}
<main class='review-detail'>
    <article class="container">
        <h1>Submit Your Review</h1>
        <form action="/reviews/addReview/{{parkId}}" method="POST" id="addReviewForm" enctype="multipart/form-data">
            <section class="info">
                <dl>
                    {{!-- <dt>User ID:</dt>
                    <dd><input id="userId" name="userId"></input></dd> --}}

                    <dt><label for="title">Title:</label></dt>
                    <dd><input type="text" id="title" name="title"></dd>
{{!--                     <dt>User Name:</dt> --}}
{{!--                     <dd><input type="text" id="userName" name="userName"></dd> --}}
                    <dt><label for="content">Content:</label></dt>
                    <dd><textarea id="content" name="content"></textarea></dd>
                    <dt><label for="photos">Photos:</label></dt>
                    <dd><input type="file" id="photos" name="photos" multiple></dd>
                    <dt><label for="rating">Ratings:</label></dt>
                    <dd><input type="number" id="rating" name="rating" min="1" max="5"></dd>
                </dl>
            </section>
            <div id="review_error_message" class="error" style="display:none;"></div>
            <button id="reviewSubmit" name="reviewSubmit" type="submit" class="addReview-button">Submit Review</button>
        </form>
    </article>
</main>
