{{#if hasErrors}}
<p class=" not-found">
  {{errors}}
</p>
{{/if}}
<main>
 <h1>Comments</h1>
                {{#each comment}}
                <div class="comment">
                    <p><strong>{{this.userName}}:</strong> {{this.content}}</p>
                </div>
                <form action="/review/{{reviewId}}/addcomment" method="POST" id="addCommentForm">
                                       <section class="info">
                                           <dl>
                                               <dt>Content:</dt>
                                               <dd><textarea id="content" name="content"></textarea></dd>
                                           </dl>
                                       </section>
                                       <div id="comment_error_message" class="error" style="display:none;"></div>
                                       <button id="commentSubmit" name="commentSubmit" type="submit" class="commentSubmit-button">Submit Comment</button>
                                 </form>
                {{/each}}
            </section>
    </article>
</main>