<link rel="stylesheet" href="/public/css/park.css">

<div class="errorContainer">
    <h1>{{title}}</h1>
    <p class="row" class="col">{{message}}</p>
    <a href="/" class="col">Go Back To Search Page</a>
</div>