<link rel="stylesheet" href="/public/css/styles.css">
<link rel="stylesheet" href="/public/css/login.css">


<h1 class="title">Log out</h1>

<div class="container alertPage">
    <p>You have been logged out.</p>
    <a href="/">Return to home page</a>

    {{#if previousUrl}}
    <p>or</p>
    <a href="{{previousUrl}}">Return to previous page</a>
    {{/if}}
</div>

<script>
    function preventBack() { window.history.forward(); }
    setTimeout("preventBack()", 0);
    window.onunload = function () { null };
</script>