<body>
<link rel="stylesheet" href="/public/css/styles.css">
<link rel="stylesheet" href="/public/css/login.css">

</body>

<header>
    <h1>Log out</h1>
</header>

<main class="container alertPage">
    <div>
        <p>You have been logged out.</p>
        <a href="/">Return to home page</a>
        <!-- Add back to previous page link -->
        {{#if previousUrl}}
        <p>or</p>
        <a href="{{previousUrl}}">Return to previous page</a>
        {{/if}}
    </div>
</main>