<link rel="stylesheet" href="/public/css/styles.css">
<link rel="stylesheet" href="/public/css/login.css">

{{#if errors}}
            <div class="error-container"= id="error-container">
                {{#each errors}}
                    <p class="error">{{this}}</p>
                {{/each}}
            </div>
        {{/if}}


<div>
    <h1 class="login">Register</h1>
    <div id="error" class="error" hidden>I'm an error. I will change through Client-Side JS</div>
    <form id="registration-form" action="/auth/register" method="POST">
        <label for="userName">Username:</label>
        <input type="text" name="userName" id="userName">

        <br>
        <label for="email">Email Address:</label>
        <input type="email" name="email" id="email" >

        <br>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password">

        <br>
        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" name="confirmPassword" id="confirmPassword">

        <br>
        <label for="dateOfBirth">Date of Birth:</label>
        <input type="text" name="dateOfBirth" id="dateOfBirth" placeholder="DD/MM/YYYY" pattern="\d{2}/\d{2}/\d{4}">

        <br>
        <label for="bio">Enter your bio:</label>
        <input type="text" name="bio" id="bio">

        <input type="submit" value="Register">
    </form>
    <a class="login-a" href="/auth/login">Already have an account? Click here to log-in!</a>
</div>