<div id="reviewSubmittedView">
  <div class="reviewSubmitted-inform">
    <div class="reviewSubmitted-success">
      <div id="circle">
        <div class="check"></div>
      </div>
      <div class="reviewSubmitted-title">SUCCESS</div>
      <p>Review Submmited</p>
      <a id="addReviewLink" href="/reviews/addReview/{{parkId}}">Add Another Review</a>
    </div>
  </div>
</div>
