.container {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1, h2, h3, h4 {
    color: #333;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

h2, h3, h4 {
    margin-bottom: 8px;
}

.park-poster {
    width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 15px;
}

.description, .info, .ratings {
    margin-bottom: 10px;
}

dl dt {
    font-weight: bold;
}

dl dd {
    margin-left: 20px;
    margin-bottom: 5px;
}

.addpassport  {
    padding: 10px 15px;
    font-size: 16px;
    color: white;
    background-color: #c7b198;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.addpassport:hover {
    background-color: #cd8a1f;
}

.favorite-btn i, .addpassport {
    font-size: 1.2rem;
}

.addReviewBtn, .search-other {
    display: block;
    text-align: center;
    margin-top: 20px;
    padding: 10px 0;
    background-color: #c7b198;
    color: white;
    border-radius: 4px;
}

.addReviewBtn:hover, .search-other:hover {
    background-color: #cd8a1f;
}

.my_coolratings_table a {
    display: block;
    margin-bottom: 5px;
    color: #007bff;
}

.reviewLink {
    font-weight: bold;
    margin-bottom: 5px;
}

@media (max-width: 768px) {
    .container, main {
        padding: 10px;
    }
    button {
        width: 100%;
    }
}

.parkReviewImage {
    width: 20%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 15px;
}

/* .favorite-btn {
    background: none;
    border: none;
    cursor: pointer;
    color: #ccc; 
    font-size: 24px;
    transition: color 0.3s ease; /
}

.favorite-btn:hover,
.favorite-btn:focus {
    color: #ff6666; 
}

.favorite-btn.favorited i {
    color: #ff0000; 
} */