.searchResultImage {
    width: 150px;
    height: 150px;
    border: 3px solid #ddd;
    border-radius: 8px;
}

.pagination {
    display: flex;
    justify-content: center;
    width: 100%;
    list-style: none;
    padding: 0;
}

.pagination a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
}
  
  .pagination a.active {
    background-color: #007bff;
    color: white;
  }
  
  .pagination a:hover:not(.active) {background-color: #ddd;}