body {
    font-family: 'Arial', sans-serif;
    background-color: #f0ece2;
    color: #333;
    margin: 0;
    padding: 0;
}


header, footer {
    background-color: #596e79;
    color: white;
    text-align: center;
    padding: 20px;
}

nav {
    height: 67.5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

#nav-title {
    font-size: 1.5em;
    color: #fff;
    text-decoration: none;
}

.user-info a {
    color: #ddd;
    text-decoration: none;
    margin-left: 10px;
}

.user-info a:hover {
    color: #fff;
}

main {
    padding: 20px;
    margin: auto;
    background: f0ece2;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    
}


footer p {
    margin: 5px 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.title {
    background-color: #c7b198;
    color: white;
    padding: 20px 0;
    text-align: center;
    font-size: 2em;
}

.main-content {
    margin: 20px;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.description {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.park-search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.form-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px; 
}

label {
    flex: 1; 
    margin-right: 5px; 
    text-align: center;
}

label:last-child {
    margin-right: 0; 
}

a {
    text-decoration: none;
}

select, input[type="text"] {
    width: 50%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

.submit-btn {
    background-color: #c7b198;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

.submit-btn:hover {
    background-color: #cd8a1f;
}

.top5 {
    margin-top: 20px;
}

.top5 h2 {
    color: #333;
    margin: 10px;
}

.top5 ol {
    list-style: none;
}

.top5 li {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
}

.top5 p {
    margin: 10px;
}

.top5Image {
    width: 400px;
    height: auto;
    margin: 10px;
}

.tip {
    font-size: 0.8em;
    color: #666;
    margin-top: 4px;
}
