/*This file should have 10 CSS rulesets */
body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
}

header, .footer {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

.title {
    color: #007bff;
    margin-bottom: 20px;
}

dl {
    margin-bottom: 20px;
}

dt {
    font-weight: bold;
}

dd {
    margin-left: 20px;
    margin-bottom: 10px;
}



a, a:visited {
    color: #0056b3;
}
#nav-title{
    color: #f2f2f2;
    text-decoration: none;
}
a:hover {
    color: #003875;
}

.main-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.top5Image {
    width: 400px;
    height: auto;
    border: 3px solid #ddd;
    border-radius: 8px;
}

.park-search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.form-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px; /* Space between labels and button */
}

label {
    flex: 1; /* Each label takes equal width */
    margin-right: 5px; /* Optional: space between the labels */
    text-align: center;
}

label:last-child {
    margin-right: 0; /* Remove margin from the last label */
}

