body {
    font-family: 'Arial', sans-serif;
    background-color: #f0ece2;
    margin: 0;
}

.container, .content, .link {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1.container {
    background-color: #c7b198;
    color: white;
    font-size: 24px;
    text-align: center;
}

.phrase, .content p {
    color: #666;
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 10px;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    color: #9d8c78;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.delete-btn {
    padding: 5px 10px;
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.delete-btn:hover {
    background-color: #ff3333;
}

.link a {
    display: inline-block;
    background-color: #c7b198;
    color: white;
    padding: 10px 20px;
    text-align: center;
    border-radius: 4px;
}

.link a:hover {
    background-color: #cd8a1f;
}
.park-photo {
    max-width: 200px; 
    max-height: 150px; 
    display: block;
    margin: 10px 0; 
}

.review-photo {
    max-width: 200px; 
    max-height: 150px;
    display: block;
    margin: 10px 0; 
}

.link button {
    display: inline-block;
    background-color: #c7b198;
    color: white;
    padding: 10px 20px;
    text-align: center;
    border-radius: 4px;
    border: #c7b198;
    cursor: pointer;
}

.link button:hover {
    background-color: #cd8a1f;
}